/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/ngx-toastr/toastr.css';


/*@font-face {
  font-family: Roboto;
  src: url("src/assets/fonts/Roboto-Regular.ttf") format('tff');
  font-weight: normal;
  font-style: normal;
}*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

/*.toast-error {
  background-color: #bd362f;
  color: #fff;
}

.toast-container {
}*/
