<div class="container">
  <div class="col-md-5 ml-4 m-lg-auto">
    <div class="card m-4 border border-warning">
      <h5 class="card-header text-center">Create Account</h5>
      <div class="card-body">
        <form [formGroup]="createAccountForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" formControlName="email" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.email.invalid }">
            <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
              <div *ngIf="form.email.errors.required">Email is required</div>
              <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
              <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">Password is required</div>
                <div *ngIf="form.password.errors.minlength">Password must be at least 8 characters</div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div class="d-flex justify-content-center">
              <button *ngIf="!isLoading" type="button" class="btn btn-primary col-5 col-xl-12 col-lg-12" (click)="createUserAccount()">
                Create Account
              </button>
            </div>
          </div>
          <div *ngIf="isLoading" class="text-center">
            <div class="btn btn-text-primary border border-primary col-5 col-xl-12 col-lg-12">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <span class="badge badge-pill badge-light">Already have an account?
            <a routerLink="/login" class="text-primary"> Back to login page</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
