<div class="container">
  <h2>List File <span class="badge badge-secondary">New</span></h2>
  <div class="">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" (change)="change($event)" type="search" placeholder="File Name"
               aria-label="Search">
        <select (change)="selectOption($event.target.value)" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Permission</option>
          <option value="Read">Read</option>
          <option value="Share">Share</option>
          <option value="Owner">Owner</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="getPaginationFile(fileName.value)">Filter</button>
      </form>
    </nav>
    <table id="list-file" class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">File Name</th>
        <th scope="col">Delete</th>
        <th scope="col">Get</th>
      </tr>
      </thead>
      <tbody *ngFor="let item of data; index as i">
      <tr>
        <th scope="row">{{item.fileId}}</th>
        <td>{{item.fileName}}</td>
        <td>
          <button type="button" [ngClass]="{'disable': item.canOwner == true}" (click)="deleteFile(item.fileId)"
                  class="btn btn-danger">Delete File
          </button>
        </td>
        <td>
          <button type="button" (click)="download(item.fileId,item.fileName)" class="btn btn-primary">Download</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" routerLink="/upload" class="btn btn-primary">Go to page upload</button>
  </div>
</div>
