<div class="container">
  <div class="col-md-8 ml-8 m-lg-auto">
    <div class="card m-4 border border-warning">
      <h5 class="card-header text-center">Upload File</h5>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="fileUpload">File Upload Here</label>
            <input type="file" #fileInput class="form-control-file" id="fileUpload"
                   (change)="onFileSelected($event)" >
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="uploadFile()">Upload</button>
          </div>
        </form>
        <button  type = "button" class="btn btn-primary" routerLink="/files-list">Back to listing view</button>
      </div>
    </div>
  </div>
</div>
