<div class="container">
  <div class="col-md-5 ml-4 m-lg-auto">
    <div class="card m-4 border border-warning">
      <h5 class="card-header text-center">Login</h5>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Username</label>
            <input id="email" type="text" formControlName="email" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.email.invalid }" (focus)="clearError()">
            <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
              <div *ngIf="form.email.errors.required">Username is required</div>
              <div *ngIf="form.email.errors.minlength">Username must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && form.password.errors }" (focus)="clearError()">
              <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">Password is required</div>
                <div *ngIf="form.password.errors.minlength">Password must be at least 8 characters</div>
              </div>
            </div>
          </div>
          <div *ngIf="!isLoading" class="text-center">
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary col-5 col-xl-12 col-lg-12" (click)="onSubmit()">
                Login
              </button>
            </div>
          </div>
          <div *ngIf="error && error.status == 401">
            <span class="badge badge-pill badge-danger">Incorrect username and password</span>
          </div>
          <div *ngIf="isLoading" class="text-center">
            <div class="btn btn-text-primary border border-primary col-5 col-xl-12 col-lg-12">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <a routerLink="/register" class="badge badge-success mt-2">Create Account</a>
        </form>
      </div>
    </div>
  </div>
</div>
